{% macro input(options) %}
  {% include 'components/forms/_input' %}
{% endmacro %}

{% macro textarea(options) %}
  {% include 'components/forms/_textarea' %}
{% endmacro %}

{% macro select(options) %}
  {% include 'components/forms/_select' %}
{% endmacro %}

{% macro radio(options) %}
  {% include 'components/forms/_radio' %}
{% endmacro %}

{% macro singleCheck(options) %}
  {% include 'components/forms/_single-checkbox' %}
{% endmacro %}

{% macro multiCheck(options) %}
  {% include 'components/forms/_multi-checkbox' %}
{% endmacro %}

{% macro honeypot(container) %}
  {% include 'components/forms/_honeypot' %}
{% endmacro %}

{% macro errors() %}
  {% include 'components/forms/_errors' %}
{% endmacro %}


{% macro submit() %}
  <button class="button -large" type="submit">Submit</button>
{% endmacro %}