{% set defaultOptions = {
  id: '',
  label: '',
  options: [ "Yes", "No" ],
  required: false,
  value: '',
  error: false,
  noMargin: false,
  hideLabel: false,
  container: 'li',
} %}

{% set options = defaultOptions | merge(options) %}

{% set class = 'form__field' %}
{% set class = options.error and options.error | length ? class ~ ' -error' : class %}
{% set class = options.noMargin ? class ~ ' -no-margin' : class %}

<{{ options.container }} class="{{ class }}">
  <fieldset>

    <legend {% if options.hideLabel %}class="visuallyhidden"{% endif %}>
      {{ options.label | raw }}{% if options.required %}<abbr title="Required">*</abbr>{% endif %}
    </legend>

    {% for option in options.options %}
      <label>
        <input 
          type="radio" 
          name="{{ options.id }}"
          value="{{ option }}" 
          {% if options.value == option or loop.first %}checked{% endif %}>
          {{ option }}
      </label>
    {% endfor %}
  </fieldset>
</{{ options.container }}>