{% set defaultOptions = {
  id: '', 
  label: '',
  required: false, 
  value: '',
  error: false,
  noMargin: false,
  container: 'li', 
  readLegal: false
} %}

{% set options = defaultOptions | merge(options) %}

{% set class = 'form__field' %}
{% set class = options.error and options.error | length ? class ~ ' -error' : class %}
{% set class = options.noMargin ? class ~ ' -no-margin' : class %}
{% set class = options.readLegal ? class ~ ' form__read__field' : class %}

<{{ options.container }} class="{{ class }}">
  <label>
    <input 
      type="checkbox" 
      name="{{ options.id }}"
      {% if options.required %}required{% endif %}
      value="Yes"
      {% if options.value == true %}checked{% endif %}
      {% if options.readLegal %}class="-disabled" disabled="disabled"{% endif %} >
      
      <span>
        {{ options.label | raw }}{% if options.required %}<abbr title="Required">*</abbr>{% endif %}
      </span>
  </label>
</{{ options.container }}>