{% set defaultOptions = {
  id: '', 
  label: '',
  required: false, 
  value: '',
  error: false,
  noMargin: false,
  hideLabel: false,
  container: 'li'
} %}

{% set options = defaultOptions | merge(options) %}

{% set class = 'form__field' %}
{% set class = options.error and options.error | length ? class ~ ' -error' : class %}
{% set class = options.noMargin ? class ~ ' -no-margin' : class %}

<{{ options.container }} class="{{ class }}">
  <label 
    {% if options.hideLabel %}class="visuallyhidden"{% endif %}
    for="{{ options.id }}">
    {{ options.label | raw }}{% if options.required %}<abbr title="Required">*</abbr>{% endif %}
  </label>

  <textarea 
    name="{{ options.id }}"
    id="{{ options.id }}"
    rows="6"
    {% if options.required %}required{% endif %}>{{ options.value }}</textarea>

  {% if options.error and options.error | length %}
    <p class="form__field__error">*{{ options.error }}</p>
  {% endif %}
</{{ options.container }}>