{% extends "_layout" %}
{% set title = "Events" %}
{% set params = { section: 'events', limit: 5 } %}

{% block content %}
  {% set entries = craft.entries(params) %}
  {% include 'components/_page-header' with { options: { 
    title: title
  } } %}
  
  {% paginate entries as pagedEntries %}
    <section class="module index">
      <div class="wrapper -padded">

        <ul class="index__list">
          {% for entry in pagedEntries %}
            
            <li>
              <h2 class="index__list__heading heading heading--medium">
                <a href="{{ entry.url }}">
                  {{ entry.title }}
                </a>
              </h2>
              <time class="index__list__date" datetime="{{ entry.postDate.format('Y-m-d') }}">
                <span class="visuallyhidden">Posted </span>{{ entry.postDate.format('F d, Y') }}
              </time>
              <p>{{ entry.body | truncate('words', '30', '...', true) }}</p>
              <img class="index__list__image" src="{{ entry.featuredImage.first.getUrl('square') }}" alt="">
            </li>

          {% endfor %}
        </ul>

      </div>
    </section>

    {% include 'components/_pagination' %}
  {% endpaginate %}
{% endblock %}