$ease-out-circ--custom: cubic-bezier(0.055, 0.535, 0.450, 0.940);
$ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);

$duration--default: 0.2s;
$duration--long: 0.3s;
