$color--gray-1: #eeeeee;
$color--gray-2: #dddddd;
$color--gray-3: #cccccc;
$color--gray-4: #bbbbbb;
$color--gray-5: #aaaaaa;
$color--gray-6: #999999;
$color--gray-7: #888888;
$color--gray-8: #777777;
$color--gray-9: #666666;
$color--gray-10: #555555;
$color--gray-11: #444444;
$color--gray-12: #333333;
$color--gray-13: #222222;
$color--gray-14: #111111;

$color--blue: blue;
$color--blue--dark: darken(blue, 10%);