$theme--primary: $color--gray-5;
$theme--secondary: $color--gray-3;
$theme--alert: red;

$theme--copy: $color--gray-10;
$theme--copy--light: #fff;
$theme--heading: $color--gray-13;
$theme--copy--size: 16px;
$theme--copy--size--large: 18px;
$theme--border: tint($theme--copy, 75%);

$theme--links: $color--blue;
$theme--links--hover: $color--blue--dark;

$theme--bg: #fff;
$theme--bg-dark: $color--gray-3;