a,
button {
  color: $theme--links;

  &:hover {
    color: $theme--links--hover;
  }
}

img {
  height: auto;
  max-width: 100%;
}

ul,
ol,
h1,
h2,
h3,
h4,
p {
  margin: 0 0 $gutter 0;
}

h5,
h6 {
  margin: 0 0 $gutter/2;
}

button {
  @include font-smoothing(antialiased);
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
}