* {
  @include box-sizing(border-box);
}

body {
  background: $theme--bg;
  min-width: $min-site-width;
}

.main-content {
  clear: both;
}

.wrapper {
  @include clear;
  margin-left: auto;
  margin-right: auto;
  max-width: $default-wrapper-width;
  width: 100%;

  &.-padded {
    padding-left: $gutter--small;
    padding-right: $gutter--small;
  }

  @include breakpoint($bp--medium) {
    // even normal wrapper should have padding now
    &,
    &.-padded {
      padding-left: $gutter--small;
      padding-right: $gutter--small;
    }
  }
}