{% set headingLevel = headingLevel | default(2) %}

<section class="module content-feature">
  {% if block.contentFeatureHeadline | length %}
    <div class="wrapper -padded">
      <h{{ headingLevel }} class="module__title heading--medium">{{ block.contentFeatureHeadline }}</h{{ headingLevel }}>
    </div>
  {% endif %}

  {% set imageUrl = block.contentFeatureImage.first.getUrl() %}
  {% set imageAlt = block.contentFeatureImage.first.getTitle() %}
  <div class="wrapper -wide">  
    <img 
      src="{{ imageUrl }}" 
      alt="{{ imageAlt }}">
  </div>

  <div class="wrapper -padded">
    <div class="body-copy">
      {{ block.contentFeatureDescription }}
    </div>
  </div>
</section>