{% set defaultOptions = {
  headingLevel: 2,
  headline: '',
  image: false,
  description: ''
} %}

{% set options    = options is defined ? defaultOptions | merge(options) : defaultOptions %}
{% set options = options|merge({
  'headingLevel': headingLevel | default(options.headingLevel),
  'headline'    : block['contentFeatureHeadline'] is defined ? block.contentFeatureHeadline : options.headline,
  'image'       : block['contentFeatureImage'] is defined ? block.contentFeatureImage : options.image,
  'description' : block['contentFeatureDescription'] is defined ? block.contentFeatureDescription : options.description
}) %}

{% if block %}
  <section class="module content-feature">
    {% if options.headline | length %}
      <div class="wrapper -padded">
        <h{{ options.headingLevel }} class="module__title heading--medium">{{ options.headline }}</h{{ options.headingLevel }}>
      </div>
    {% endif %}

    {% set imageUrl = options.image ? options.image.first.getUrl() : "" %}
    {% set imageAlt = options.image ? options.image.first.getTitle() : "" %}
    <div class="wrapper -wide">  
      <img 
        src="{{ imageUrl }}" 
        alt="{{ imageAlt }}">
    </div>

    <div class="wrapper -padded">
      <div class="body-copy">
        {{ options.description }}
      </div>
    </div>
  </section>
{% endif %}