{% set defaultOptions = {
  quoteText: '',
  quoteAttribution: ''
} %}

{% set options    = options is defined ? defaultOptions | merge(options) : defaultOptions %}
{% set options = options|merge({
  'quoteText'       : block['quoteText'] is defined ? block.quoteText : options.quoteText,
  'quoteAttribution': block['quoteAttribution'] is defined ? block.quoteAttribution : options.quoteAttribution,
}) %}

{% if options.quoteText %}
  <section class="module quote">
    <blockquote>
      <div class="quote__body">
        <div class="wrapper -padded">
          {{ options.quoteText }}
        </div>
      </div>

      {% if options.quoteAttribution | length  %}
        <div class="wrapper -padded">
          <cite class="quote__attribution">{{ options.quoteAttribution }}</cite>
        </div>
      {% endif %}

    </blockquote>
  </section>
{% endif %}