{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
  <article class="matrix-page">
    {%- cache unless craft.config.devMode -%}

      {% if not (entry.matrix | length and entry.matrix.first.type == 'heroImage') %}
        {% include 'components/_page-header' with { options: {
          title: entry.title
        }} %}
      {% endif %}

      {% set headingLevel = headingLevel | default(2) %}
      {% for block in entry.matrix %}
        {# Start Matrix blocks #}
        {% switch block.type %}
          {% case "body" %}
            <section class="module body-copy">
              <div class="wrapper -padded">
                {{ block.bodyCopy }}
              </div>
            </section>

          {% case "contentFeatureImage" %}
            <section class="module content-feature">
              {% if block.contentFeatureHeadline | length %}
                <div class="wrapper -padded">
                  <h{{ headingLevel }} class="module__title heading--medium">{{ block.contentFeatureHeadline }}</h{{ headingLevel }}>
                </div>
              {% endif %}

              {% set imageUrl = block.contentFeatureImage.first.getUrl() %}
              {% set imageAlt = block.contentFeatureImage.first.getTitle() %}
              <div class="wrapper -wide">  
                <img 
                  src="{{ imageUrl }}" 
                  alt="{{ imageAlt }}">
              </div>

              <div class="wrapper -padded">
                <div class="body-copy">
                  {{ block.contentFeatureDescription }}
                </div>
              </div>
            </section>

          {% case "heroImage" %}
            <section 
              class="module hero" 
              style="background-image: url('{{ block.heroBgImage.first().getURL('hero') }}'); background-position: {{ block.heroImageAlign }} top;" >
              <div class="wrapper -padded">
                <div class="hero__text-wrap">
                  <h1 class="heading--large--hero">{{ block.heroHeadline }}</h1>
                </div>
              </div>
            </section>

          {% case "quote" %}
            {% if block.quoteText %}
              <section class="module quote">
                <blockquote>
                  <div class="quote__body">
                    <div class="wrapper -padded">
                      {{ block.quoteText }}
                    </div>
                  </div>

                  {% if block.quoteAttribution | length  %}
                    <div class="wrapper -padded">
                      <cite class="quote__attribution">{{ block.quoteAttribution }}</cite>
                    </div>
                  {% endif %}

                </blockquote>
              </section>
            {% endif %}

          {% case "relatedLinks" %}
            <section class="module related-links">
              <div class="wrapper -full">
                <h{{ headingLevel }} class="module__title heading--medium">Related Links</h{{ headingLevel }}>

                <ul class="related-links__list">
                  {% for link in block.relatedLinksList %}
                    <li>
                      <a href="{{ link.linkUrl }}">{{ link.linkText }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </section>

        {% endswitch %}

      {% endfor %}

    {%- endcache -%}
  </article>
{% endblock %}