{% extends "_layout" %}

{% block content %}
  <article>
    {% include 'modules/_hero-image' with { options: {
      headline: 'This is a parts kit',
      imageUrl: 'http://placehold.it/1400/800'
    }}%}
    {% include 'modules/_related-links' with { options: {
      linksList: {
        0: {
          linkText: 'Build With Craft',
          linkUrl: 'http://buildwithcraft.com'
        },
        1: {
          linkText: 'Build With Craft',
          linkUrl: 'http://buildwithcraft.com'
        }
      }
    }} %}

  </article>
{% endblock %}
