<!DOCTYPE html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Craft Components</title>
    <link rel="home" href="{{ siteUrl }}" />

    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/application.min.css">
  </head>

  <body>
    {% include 'shared/_global-header' %}

    <main class="main-content" role="main">
      {% block layout %}
      {% endblock %}
    </main>

    {% include 'shared/_global-footer' %}

    <script type="text/javascript" src="/assets/javascripts/browserified.js"></script>

  </body>
</html>
