{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
  <article>
    {% include 'components/_page-header' with { options: { 
      title: title
    } } %}
    
    {% set bodyCopy %}
      <time class="" datetime="{{ entry.postDate.format('Y-m-d') }}">
        <span class="visuallyhidden">Posted </span>{{ entry.postDate.format('F d, Y') }}
      </time>
      {{ entry.body }}
    {% endset %}
    {% include 'modules/_body-copy' with { options: {
      bodyCopy: bodyCopy
    }} %}

    {% include 'modules/_matrix' %}
    
  </article>
{% endblock %}
